body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 3em;
    background-color: gray;
}

.header {
    display: flex;
    justify-content: center;
    color: wheat;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 10em;
}

.opts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-color: #1f2937;
    font-size: 18px;
    width: 10em;
    height: 10em;
    border-radius: .5em;
    border: solid red 3px;
}

.pic {
    width: 5em;
    height: 5em;
}

.score {
    display: flex;
    justify-content: center;
}

.round {
    display: flex;
    justify-content: center;
    border-color: #1f2937;
    font-size: 18px;
    border-radius: .5em;
    border: solid red 3px;
    padding: .5em;
}